{% load staticfiles %}

<section class="ar newsletter-section dark_overlay dark_overlay_gradient bg_img"
    style="background-image: url('{% static 'website/img/home/home.jpg'%}')">

    <div class="container">
            <div class="row">

                        <div class="col-lg-6 col-md-6 text-center">
                            <div class="content-wrapper " data-aos="fade-up" data-aos-delay="100"
                                data-aos-anchor-placement="top-bottom" data-aos-easing="ease-in-out" data-aos-duration="700">
                               <h4> بيت النبوة</h4>
                               <p class="text-light z-index-100" data-aos="fade-up" data-aos-delay="100"
                               data-aos-easing="ease-in-out" data-aos-duration="700">لعلاج السحر والحسد والمس وتيسير الحياة العائلية والعملية وطرد الشيطان وتسخير القرين كما يوجد لدينا خواتم روحانية وجميع الاعشاب النادرة والمفاجأت لدينا بأذن الله تعالي جوهرة علم الروحانيات (هيلوت)</p>

                            </div>
                        </div>

                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="content-wrapper " data-aos="fade-up" data-aos-delay="100"
                            data-aos-anchor-placement="top-bottom" data-aos-easing="ease-in-out" data-aos-duration="700">
                          <a href="{% url 'contact' %}"> <h4> تواصل معنا</h4></a>

                                <p class="lead">  <i class="fas fa-phone mt-4 fa-1x"></i>
                                    <span > 20-102-288-1909+</span>

                                </p>
                           
                        </div>
                </div>



                </div>
    </div>

</section>
<footer>

    <div class="container-fluid footer-inner d-flex align-items-center ">


        <div class="footer-social d-flex">


            <div class="social-box">
                <a href="https://www.youtube.com/channel/UCYIR9VW_TCfzz4kvkMrNwiA" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>

        </div>

        <div class="footer-copyright">
            <div class="footer-copyright">
                <p> .حقوق الطبع والنشر © 2020 جميع الحقوق محفوظة. بواسطة <a href="https://tiqnia.com"><strong>تقنية</strong> </a> </p>
            </div>

    </div>
</footer>
