
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags%}


{% block title %} بيت النبوة - تواصل معنا  {% endblock %}

{% block body %}

<header class="page-header parallax-window bg_img default_overlay" 
        data-src="{% static 'website/img/home/4.jpg'%}">
    <div class="container breadcrumbs-wrapper">
        <div class="breadcrumbs d-flex flex-column justsify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        {% if title %}
                        <h2 class="section-title text-center title-divider" data-bigletter="" data-aos="fade-down"
                            data-aos-delay="100" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-in-out"
                            data-aos-duration="700">{{title}} </h2>
                        {% endif %}    
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>    
        
    <!-- [2] Navigation-Menu -->
    <section class="blog-section large-section gray-section">
        <div class="container">
            <div class="row">
                    <div class="col d-flex align-items-center">
                            <div class="content-wrapper" data-aos="fade-down"
                                data-aos-delay="100" data-aos-anchor-placement="top-bottom" data-aos-easing="ease-in-out"
                                data-aos-duration="700">
    
                                <ul class="list-unstyled mb-2">
                                 
    
                                    <li><span class="laed"> +20-102-288-1909 </span>
                                        <i class="fas fa-phone mt-4 fa-2x"></i>
                                        
                                    </li>
    
                                </ul>
                            </div>
                        </div>
                        <div class="ar1 col-sm-6">
                                <form method='POST' action='' > {% csrf_token %}
                                    {{ form | crispy }}
                                    {% if title == 'تواصل معنا'%}
                                    <input class="button-submit z-index-100 " data-aos="" data-aos-delay=""
                                        data-aos-easing="ease-in-out" data-aos-duration="" type='submit' value='أرسال' />
                                    {% else %}
                                    <a href="{% url 'index'%}" class="button-submit z-index-100 " data-aos=""
                                        data-aos-delay="" data-aos-easing="ease-in-out" data-aos-duration="">رجوع </a>
                                    {% endif %}
                                </form>
                        </div>
    
              
            </div>
        </div>

    </section>

{% endblock %}