{% load staticfiles %}


    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'website/img/logo/logo.png' %}">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="بيت النبوة لعلاج السحر والحسد والمس وتيسير الحياة العائلية والعملية وطرد الشيطان وتسخير القرين كما يوجد لدينا خواتم روحانية وجميع الاعشاب النادرة والمفاجأت لدينا بأذن الله تعالي جوهرة علم الروحانيات (هيلوت)">
    <meta name="keywords" content="بيت النبوة ,علاج السحر والحسد والمس , الاعشاب النادرة, خواتم روحانيه, القرآن الكريم, جوهرة علم الروحانيات (هيلوت)">
    <link rel="icon" href="{% static 'website/img/logo/b5.jpg' %}">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ee3158" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ee3158" />
    <meta name=msapplication-TileColor content=#FFFFFF>
    <meta name=msapplication-TileImage content=favicon.ico>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent" />
    <!-- IE-Support -->
    <script src="{% static 'website/js/ie-support.js'%}" defer></script>
    <!-- css-files -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/swiper.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/main.css'%}">


    <link rel="manifest" href="{% static 'manifest.json'%}">




